.odd {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.odd-class {
    font-size: 24px;
}

#four {
    font-size: 24px;
    font-weight: bold;
    background-color: greenyellow;
}